version: '3.8'

services:
  bot:
    build: .
    container_name: chatuba_bot
    restart: always
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
    volumes:
      - .:/app
    command: python main.py
